<!-- Ci-dessous fonction Ruby qui permet de venir chercher les informations dans notre base de donnée//voir dans le corps de l'HTML ci-dessous
<ul>
  <% @stages.each do |stage| %>
    <li><%= stage.title %></li>
  <% end %>
</ul> -->

<nav class="dark-navbar">
  <h3> YogaYuq.</h3>
  <a href="/" >Home</a>
  <a href="/about" >About</a>
  <a href="/disciplines" >Disciplines</a>
  <a href="/stages" >News</a>
  <button class = "modal-btn button modal-trigger" id="light-green-button">Contact</button>
</nav>

<div class="container">

 <div class="card2">
    <h2>Les Stages Du Moment</h2>
    <a class= "edit" href="/stages/new" >Ajouter un article</a>


    <% @stages.each do |stage| %>
      <div class="content">
        <%=image_tag('news-gym.jpg') %>
        <div class="description">
          <h2><%= stage.title %></h2>
          <i class="fa-solid fa-calendar-days">  <%= stage.date %></i>
          <br>
          <i class="fa-solid fa-people-group">  <%= stage.participants %> places</i>
          <br>
          <i class="fa-solid fa-euro-sign">  <%= stage.price %></i>
          <br>
          <p><%= stage.description %></p>
          <button class = "modal-btn button modal-trigger" id="small-light-green-button">Contact</button>

        </div>

        <div>
          <%= link_to "Supprimer", stage_path(stage.id), class: "edit",
          data: {turbo_method: :delete, turbo_confirm: "Etes-vous sur de vouloir supprimer cet article?"}
          %>

          <%= link_to "Modifier", stage_edit_path(stage.id), class: "edit",
          data: {turbo_method: :edit}
          %>

        </div>

      </div>
    <% end %>
  </div>

</div>
