<!DOCTYPE html>
<html>
  <head>
    <title>SiteGym</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://kit.fontawesome.com/2d0dbc4c33.js" crossorigin="anonymous"></script>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </head>

  <body>
    <!-- Fenêtre modal à ouvrir  // en lien avec le bouton CONTACT-->
    <div class="modal-container">
      <div class="overlay modal-trigger"></div>
      <div class="modal1">
        <button class="close-modal modal-trigger">X</button>
        <h1>Nous contacter</h1>

        <!-- ci-dessous on crée le formulaire de mise en relation -->
        <div class="form">
          <form action="/practice.html" method="POST">
            <label for="Nom" required>Nom</label>
            <input type="text" name="Nom" id="Nom">
            <br>
            <label for="Prénom" required>Prénom</label>
            <input type="text" name="Prénom" id="Prénom">
            <br>
            <label for="mail" required>E-Mail</label>
            <input type="text" name="E-Mail" id="E-Mail">
            <br>
            <label for="message" required>Message</label>
            <textarea id="message" name="message" rows="3" cols="40">écrivez votre message ici</textarea>
            <br>
            <section class="submission">
            <input type="submit" value="Envoyer">
            </section>
          </form>
        </div>
      </div>
    </div>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- L'étape en dessous nous permet d'insérer un JS dans notre HTML. Sans ça le lien ne se fait pas.  -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </body>
</html>
